<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="monitor-graphs.png" type="image/png"/>
    <link rel="apple-touch-icon" href="monitor-graphs-128.png">
    <title>Monitor@Home</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:600" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/3/slate/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <style media="screen">
      body {
        font-family: 'Titillium Web', sans-serif;
      }
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body ng-app="Monitor"  ng-controller="monitorController">
    <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#hosts" data-toggle="tab" aria-expanded="true">Hosts</a></li>
      <li class=""><a href="#nat" data-toggle="tab" aria-expanded="false">NAT</a></li>
        <li class=""><a href="#dhcp" data-toggle="tab" aria-expanded="false">DHCP</a></li>
      <li class=""><a href="#services" data-toggle="tab" aria-expanded="false">Services</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="hosts">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
               <th>Hosts</th>
               <th>Status</th>
               <th class="hidden-xs">Proxy</th>
               <th class="hidden-xs">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="host in hosts">
                <td><a target="_blank" ng-href="http://{{ host.name }}">{{ host.name }}</a></td>
                <td ng-class="(checkState(host.status.http_code))">{{ host.status.http_code }}</td>
                <td class="hidden-xs">
                  <div ng-repeat="p in host.proxy" >
                    {{p}}
                  </div>
                </td>
                <td class="hidden-xs" ng-class="((host.status.connect_time).toFixed(4)>0.1 ? 'danger':'')">{{ (host.status.connect_time).toFixed(4) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="nat">
	       <table class="table table-striped table-hover">
          <thead>
            <tr>
               <th>Name</th>
               <th class="hidden-xs">IP</th>
               <th>External</th>
               <th class="hidden-xs">Internal</th>
               <th class="hidden-xs">Protocol</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in router_nat | orderBy : 'name'">
                <td>{{ item.name }}</td>
                <td class="hidden-xs">{{ item.ip }}</td>
                <td>{{ item.port_ex }}</td>
                <td class="hidden-xs">{{ item.port_in }}</td>
                <td class="hidden-xs">{{ item.protocol }}</td>
            </tr>
          </tbody>
        </table>
       </div>
        <div class="tab-pane" id="dhcp">
	       <table class="table table-striped table-hover">
          <thead>
            <tr>
               <th>Name</th>
               <th>IP</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in router_dhcp | orderBy : 'name'">
                <td>{{ item.name }}</td>
                <td>{{ item.ip }}</td>
            </tr>
          </tbody>
        </table>
       </div>
       <div class="tab-pane" id="services">
 	       <table class="table table-striped">
           <thead>
             <tr>
                <th>Name</th>
                <th>Parameters</th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat="item in services">
                 <td ng-class="item.status">{{ item.name }} </td>
                 <td ng-class="item.status">
                   Upload speed: {{ (item.parameters.upload_speed/1024/1024).toFixed(3) }} MB/s<br>
                   Download speed: {{ (item.parameters.download_speed/1024/1024).toFixed(3) }} MB/s<br>
                   Connected peers: {{ item.parameters.connected_peers_count }} <br>
                   Last update: {{ item.parameters.last_stats_update * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
                 </td>
             </tr>
           </tbody>
         </table>
 	     </div>
    </div>



    <small>Updated: {{date}}</small>
    <br>
    <input ng-model=collapse1 type=checkbox> nginx config </input>
    <input ng-model=collapse2 type=checkbox> nginx access log </input>
    <input ng-model=collapse3 type=checkbox> nginx error log </input>

    <br>

    <div ng-show=collapse1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>nginx config</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rec in config">
             <td ng-class="(checkConfig(rec))">{{ rec }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show=collapse2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>nginx access log</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rec in access">
             <td>{{ rec }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show=collapse3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>nginx error log</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rec in error">
             <td>{{ rec }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>
  </body>
</html>
